@mixin buttonbackground {
  background-color: transparent;
  background-image: url('../../src/assets/close.svg');
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}
