@import 'constants.scss';
@import 'mixins.scss';

:root {
  font-family: SM-E, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
  display: flex;
  justify-content: right;
}

#menu-container {
  display: flex;
  padding-right: 1em;
  width: 50px;
  height: 50px;
}

#menu {
  height: 50px;
  width: 50px;
  border: none;
  background-image: url(../assets/menu.svg);
  background-color: transparent;
}

#menu-background {
  visibility: hidden;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  //Scale in Gsap Menu
  position: absolute;
  background-image: url(../assets/close.svg);
  width: 50px;
  height: 50px;
}

h1 {
  font-family: SM-E, Helvetica, Arial, sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
  text-align: start;
}
