@import 'constants.scss';
@import 'mixins.scss';

:root {
  font-family: SM-E, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #242424;
  display: block;
}

#menu-container {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  width: 100px;
  height: 100px;
}

#menu {
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-image: url(../assets/menu.svg);
  background-color: transparent;
}

#menu-background {
  visibility: hidden;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  //Scale in Gsap Menu
  position: absolute;
  background-image: url(../assets/close.svg);
  width: 50px;
  height: 50px;
}

#menu-path {
  width: 300px;
  height: 100px;
  background-repeat: no-repeat;
  background-image: url(../assets/menu_path.svg);
}

h1 {
  font-family: SM-E, Helvetica, Arial, sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
  text-align: start;
}

section {
  height: 100vh;
  width: 100vw;
}
#test1 {
  height: 200px;
  width: 200px;
  background-color: red;
}

#test2 {
  height: 200px;
  width: 200px;

  background-color: yellow;
}
