@import 'constants.scss';
@import 'mixins.scss';

:root {
  font-family: SM-E, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
}

#menu-container {
  display: flex;
}
#menu {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: solid 20px red;
  background: transparent;
}
#menu-background {
  visibility: visible;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  position: absolute;
  background-color: red;
  //background-image: url(../assets/close.svg);
  height: 200px;
  width: 200px;
}

h1 {
  font-family: SM-E, Helvetica, Arial, sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
  text-align: start;
}
